@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */
  --clr-red-light: hsl(0, 36%, 70%);
  --clr-red-light-: hsla(0, 36%, 70%, 0.6);
  --clr-red-medium: hsl(0, 93%, 68%);

  /* ### Neutral */
  --clr-dark-low-red: hsl(0, 6%, 24%);

  /* ### Gradients */

  --linear-to-white: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --linear-to-red-light: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  /* font-weight */
  --fw-light: 300;
  --fw-medium: 400;
  --fw-large: 600;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--clr-dark-low-red);
}

main {
  max-width: 375px;
  background-color: white;
  background: var(--linear-to-white);
}

.logo {
  padding: 30px 35px;
}

.logo img {
  width: 100px;
}

section {
  padding: 30px 35px;
}

.title {
  padding-top: 30px;
  font-size: 2.45rem;
  text-transform: uppercase;
  color: var(--clr-red-light);
  font-weight: var(--fw-light);
  text-align: center;
  line-height: 1.1;
  letter-spacing: 12px;
}

.title span {
  font-weight: var(--fw-large);
  color: var(--clr-dark-low-red);
  display: block;
}

.description {
  margin-top: 15px;
  color: var(--clr-red-light);
  font-size: 0.85rem;
  line-height: 1.5;
  text-align: center;
}

.form-control {
  padding-top: 35px;
  width: 100%;
  margin-bottom: 50px;
}

.form {
  position: relative;
}

input[type="text"] {
  padding: 1rem 25px;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--clr-red-light);
  font-family: "Josefin Sans", sans-serif;
  color: var(--clr-red-light);
  background-color: var(--linear-to-white);
  font-size: 0.9rem;
  vertical-align: middle;
  width: 100%;
}

input[type="text"]::placeholder {
  color: var(--clr-red-light-);
  vertical-align: middle;
  transform: translateY(2px);
}

a[type="submit"] {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--linear-to-red-light);
  border-radius: 50px;
  width: 65px;
  height: 100%;
}

a[type="submit"]::after {
  content: url(./images/icon-arrow.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  background-color: aqua;
}
 */
/* header {
  width: 57.3%;
  background-color: red;
}
 */
/* aside {
  width: calc(100% - 57.3%);
  height: 100%;
}
 */
